<div class="eqLogic eqLogic-widget #eqType#" style="width: 450px;height: 300px;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" >
    <link rel="stylesheet" href="plugins/jazpar/data/css/jazpar2.template.css"/>
	<center class="widget-name">
		<span class="warning" title="#alert_name#">
			<i class='#alert_icon#'></i>
		</span>
		<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
	</center>
    <div style="width: 192px; display:inline-block;">
      <div class="jazpar_template text-center">
           <div class="history cursor kwh" data-cmd_id="#consom_id#" title="#consom_collect#" style="padding-top:25%;">
                <div class="jazparCdc">MOIS EN COURS</div>
                <div class="jazparValueUnite"><span class="jazparValue">#consom#</span><span class="jazparUnite"> kWh</span></div>
           </div>
           <div class="history cursor m3" data-cmd_id="#consom3_id#" title="#consom3_collect#" style="display: none; padding-top:25%;">
              <div class="jazparCdc">MOIS EN COURS</div>
              <div class="jazparValueUnite"><span class="jazparValue">#consom3#</span><span class="jazparUnite"> m3</span></div>
          </div>
          <div class="history cursor kwh" data-cmd_id="#consod_id#" title="#consod_collect#" style="padding-bottom:25%;">
              <div class="jazparCdc">VEILLE</div>
              <div class="jazparValueUnite"><span class="jazparValue">#consod#</span><span class="jazparUnite" > kWh</span></div>
          </div>
          <div class="history cursor m3" data-cmd_id="#consod3_id#" title="#consod3_collect#" style="display: none; padding-bottom:25%;">
              <div class="jazparCdc">VEILLE</div>
              <div class="jazparValueUnite"><span class="jazparValue">#consod3#</span><span class="jazparUnite"> m3</span></div>
          </div>
     </div>
        
     <div>
         <center>
         <span class="switch cursor"><i class="fas fa-sync"></i> kWh/m3</span>
        </center>
    </div>
    </div>
    <div style="width: 258px; float: right;">
        <div style="margin-bottom: 5%;">
            <center>
                <span>Comparaison de {{#past_month#}} #past_year#</span>
            </center>
        </div>
        <div class="jazpar_compare_div" style="height: 250px;">
            <div style="width: 129px; display:inline-block; height: 100%; padding-top: #cursor_compare#%; text-align: right;">
                Vous (#past_month_conso# kWh) <i class="fas fa-arrow-right"></i>    
            </div>
            <div style="width: 129px; float: right; height:100%">
                <div class="jazpar_localmax history cursor" data-cmd_id="#localmax_id#" title="#localmax_collect#">Maximum<br/><span style="color: #dc0404;">#localmax#</span> kWh</div>
                <div class="jazpar_localavg history cursor" data-cmd_id="#localavg_id#" title="#localavg_collect#">Moyenne<br/><span style="color: #5cccfc;">#localavg#</span> kWh</div>
                <div class="jazpar_localmin history cursor" data-cmd_id="#localmin_id#" title="#localmin_collect#">Minimum<br/><span style="color: #4ccc5c;">#localmin#</span> kWh</div>
            </div>
        </div>
    </div>
	<script>
        var unit = "#default_unit#";
        setUnit(unit, false);
        $('.eqLogic[data-eqLogic_uid=#uid#] .switch').on('click', function () {
            setUnit(unit, true);
        });
        var eqLogic = $('.eqLogic[data-eqLogic_uid=#uid#]');
        var eqlogic_width = eqLogic.width();
        var LinkyScreen_width = eqLogic.find('.jazpar_template').width();
        eqLogic.find('.jazparCdc').css('font-size', (LinkyScreen_width*0.10)+'px');
        eqLogic.find('.jazparValue').css('font-size', (LinkyScreen_width*0.12)+'px');
        eqLogic.find('.jazparUnite').css('font-size', (LinkyScreen_width*0.08)+'px');
        
        function setUnit(theUnit, isSwitch) {
            var toSet = "";
            var toUnset = "";
            if (theUnit == "m3") {
                toSet = "m3";
                toUnset = "kwh";
            } else {
                toSet = "kwh";
                toUnset = "m3";
            }
            if (isSwitch) {
                var temp = toSet;
                toSet = toUnset;
                toUnset = temp;
            }
            $('.eqLogic[data-eqLogic_uid=#uid#] .' + toSet).show();
            $('.eqLogic[data-eqLogic_uid=#uid#] .' + toUnset).hide();
            unit = toSet;
        }
    </script> 
 </div>



