<div class="eqLogic eqLogic-widget enedisEqlogicName" data-eqLogic_id="#id#" data-eqType="#eqType#" data-version="#version#" data-eqLogic_uid="#uid#" data-translate-category="#translate_category#" data-tags="#tags#" style="background-color:#CCE630!important;">
	<center>
		<link rel="stylesheet" href="plugins/enedis/data/css/enedis.mobile.css"/>
		  		<div class="" style="padding:2% 0;font-size:22px;color:#CCE630!important;">
			<span class="warning" title="#alert_name#">
				<i class='#alert_icon#'></i>
			</span>
			<span>#name_display#</span><br/>
		</div>
		<div class="enedis_template text-center" style="height:265px;">
			<div data-cmd_id="#consoy_id#" title="#consoy_collect#" style="padding-top:19%;">
 		    <div class="enedisCdc">ANNUEL</div>
 		    <div class="enedisValueUnite"><span class="enedisValue">#consoy#</span><span class="enedisUnite"> kWh</span></div>
 	   </div>
		 <div class="history cursor" data-cmd_id="#consom_id#" title="#consom_collect#">
		 		  <div class="enedisCdc">MENSUEL</div>
		 		  <div class="enedisValueUnite"><span class="enedisValue">#consom#</span><span class="enedisUnite"> kWh</span></div>
		 	  </div>
		 	  <div class="history cursor" data-cmd_id="#consod_id#" title="#consod_collect#">
		 		  <div class="enedisCdc">QUOTIDIEN</div>
		 		  <div class="enedisValueUnite"><span class="enedisValue">#consod#</span><span class="enedisUnite"> kWh</span></div>
		 	  </div>
		 	  <div class="history cursor" data-cmd_id="#charge_id#" title="#charge_collect#">
		 	 	  <div class="enedisCdc">CHARGE</div>
		 		  <div class="enedisValueUnite"><span class="enedisValue">#charge#</span><span class="enedisUnite"> kW</span></div>
		 	  </div>
		</div>
	</center>
</div>
